<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>我的奖金</title>
</head>
<body>
    <p>这里是奖金页面</p>
    <p><button type="button">领取奖金</button></p>
    <p><a href="{{ path_for('user.recommend') }}">返回</a></p>
</body>
</html>