<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>推荐成功</title>
</head>
<body>
<p>客户“{{ customer }}”推荐成功</p>
<p><a href="{{ path_for('user.cash') }}">领取奖金</a></p>
<p><a href="{{ path_for('user.recommend') }}">继续推荐</a></p>
</body>
</html>